* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
body {
  font-family: 'Lato', sans-serif;
  background-color: rgb(238, 130, 238);
}
.wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}
.welcome_text {
  width: 400px;
}

.welcome_form input{
  display: block;
  width: 100%;
}

.welcome_form h1{
  text-align: center;
  font-size: 40px;
  color: white;
  margin-bottom: 50px;
}

.welcome_form input {
  text-align: center;
  font-size: 28px;
  margin-bottom: 15px;
  background-color: transparent;
  border: none;
  color: white;
  border-bottom: 2px solid white;
}

.welcome_form button{
  text-align: center;
  font-size: 25px;
  text-decoration: none;
  color: rgb(238, 130, 238);
  padding: 20px 0;
  background-color: white;
  width: 100%;
  border: none;
  height: 100%;
  transition: 0.4s all;
  border-radius: 100px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
}

.welcome_form button:hover {
  transform: translateY(-5px);
  cursor: pointer;
}

.welcome_form input:focus,
.welcome_form button:focus {
  outline: none;
}

.quiz {
  border-radius: 3px;
  display: grid;
  grid-template-rows: 60px auto;
  width: 800px;
  height: 500px;
  background-color: white;
}

.quiz_header {
  display: flex;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  box-shadow: 0px 2px 5px 1px rgba(0, 0, 0, 0.3);
  z-index: 1;
}

.quiz_body {
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
  background-color: #ecf0f1;
  padding: 30px;
}

.quiz_user {
  display: flex;
  align-items: center;
  padding: 0px 20px;
}

.option_group {
  list-style: none;
  margin: 30px 0;
}

.option {
  background-color: white;
  width: 300px;
  padding: 15px 20px;
  margin-bottom: 15px;
  border-radius: 100px;
  border: 2px solid transparent;
}

.option:hover {
  cursor: pointer;
  border: 2px solid rgb(238, 130, 238);
  color: rgb(238, 130, 238);
}

.btn-next {
  background-color: rgb(238, 130, 238);
  color: white;
  border: none;
  padding: 15px 20px;
  border-radius: 27px;
  transition: 0.4s all;
  font-family: 'Lato', sans-serif;
}

.btn-next:hover {
  cursor: pointer;
  background-color: white;
  color: rgb(238, 130, 238);
  box-shadow: 0px 0px 10px 1px rgba(0, 0, 0, 0.3);
}

.btn-next:focus {
  outline: none;
}

.active {
  background-color: rgb(238, 130, 238);
  color: white !important;
}

.award_icon {
  font-size: 300px;
  color: white;
}

.user_name,
.user_points {
  font-size: 25px;
  color: white;
  text-align: center;
  margin-top: 15px;
}

@media only screen and (max-width: 700px) {
  /* start  */

  .welcome_text {
    width: 200px;
  }

  .welcome_form h1{
    font-size: x-large;
  }

  .welcome_form input {
    font-size: 22px;
    margin-bottom: 15px;
  }

  .welcome_form button{
    font-size: 19px;
    padding: 10px 0;
    width: 100%;
    height: 100%;
    border-radius: 100px;
    margin-bottom: 10px;
  }

  /* quiz page  */

  .quiz {
    grid-template-rows: 50px auto;
    width: 300px;
    height: 320px;
  }

  .quiz_body {
    padding: 10px;
    font-size: 10px;
  }

  .quiz_user {
    padding: 0px 10px;
    font-size: 12px;
  }

  .option_group {
    margin: 10px 0;
  }

  .option {
    width: 200px;
    padding: 9px 12px;
    margin-bottom: 15px;
    border-radius: 100px;
  }

  .btn-next {
    padding: 9px 12px;
    border-radius: 27px;
    font-size: 10px;
  }

  /* end page  */

  .award_icon {
    font-size: 150px;
  }

  .user_name,
  .user_points {
    font-size: 15px;
    margin-top: 10px;
  }
}
